<div class="mainContainer">
    <a routerLink="/books" routerLinkActive="active">
        <button type="button" mat-raised-button color="secondary">
            Books
        </button>
    </a>

    <a routerLink="/authors" routerLinkActive="active">
        <button type="button" mat-raised-button color="secondary">
            Authors
        </button>
    </a>
</div>
<div class="mainContainer">

    <a routerLink="/books/create" routerLinkActive="active">
        <button type="button" mat-raised-button color="primary">
            Add a new Book &nbsp;<i class="fa fa-plus"></i>
        </button>
    </a>
    <table mat-table [dataSource]="dataSource">

        <ng-container  matColumnDef="bookTitle">
            <mat-header-cell *matHeaderCellDef>Book Title</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ book.title }}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookMainAuthor">
            <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ this.authors[book.mainAuthor].name }}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookSecondaryAuthors">
            <mat-header-cell *matHeaderCellDef>Secondary Authors</mat-header-cell>
            <mat-cell *matCellDef="let book">
                <p *ngFor="let author of book.authors; index as i;">
                    {{ this.authors[author].name }}&nbsp;
                </p>
            </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookPrice">
            <mat-header-cell *matHeaderCellDef>Price (RON)</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ book.price | number : '1.2-2' }}&nbsp;RON</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let book">
            <button type="button" mat-raised-button color="primary" (click)="deleteBook(book['@id'])">
                <i class="fa fa-trash"></i>
            </button>
            &nbsp;
            <a routerLink="/books/edit/{{ book.id }}" routerLinkActive="active">
                <button type="button" mat-raised-button color="primary">
                    <i class="fa fa-edit"></i>
                </button>
            </a>
            </mat-cell>
        </ng-container>
        

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

    </table>
</div>
