
<div id="mainContainer">

    <a routerLink="/books/create" routerLinkActive="active">
        <button>
            Add e new Book!
        </button>
    </a>
    <table mat-table [dataSource]="dataSource">

        <ng-container  matColumnDef="bookTitle">
            <mat-header-cell *matHeaderCellDef>Book Title</mat-header-cell>
            <mat-cell *matCellDef="let book">{{book.title}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookMainAuthor">
            <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ this.authors[book.mainAuthor].name }}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookSecondaryAuthors">
            <mat-header-cell *matHeaderCellDef>Secondary Authors</mat-header-cell>
            <mat-cell *matCellDef="let book">
                <p *ngFor="let author of book.authors; index as i;">
                    {{ this.authors[author].name }}&nbsp;
                </p>
            </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="bookPrice">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let book">{{book.price}}</mat-cell>
        </ng-container>

        <ng-container  matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let book">
            <button  (click)="deleteBook(book['@id'])">
                delete
            </button>
            <a routerLink="/books/edit/{{book.id}}" routerLinkActive="active">
                <button>
                    edit
                </button>
            </a>
            </mat-cell>
        </ng-container>
        

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

    </table>
</div>
